finance:www.investopedia.com, wikipedia.org,www.google.com,www.quora.com,www.mmpi.ie
math latex:https://approach0.xyz/search/ , http://latexsearch.com/home.do
finance-ml:http://epchan.blogspot.ie/ 
blogs : http://tinyletter.com/jhudatascience/archive , https://blog.acolyer.org/
video-blogs : https://www.youtube.com/channel/UCdjFpvS8lvT2MJVthOUvlyg
math : http://www.mathisfun.com/ , www.purplemath.com , www.analyzemath.com
Philosophy : https://plato.stanford.edu/entries/leibniz-evil/
